<%- include('header'); -%>

<form method="POST" action="/admin/updatePatient/<%= patient.id %>">
  <div class="col-md-6">
      <div class="form-group">
            <input type="text" required  name="firstname" value="<%= patient.firstname %>" class="form-control" placeholder="Please Enter First Name">
        </div>
        <div class="form-group">
            <input type="text" name="lastname" required value="<%= patient.lastname %>" class="form-control" placeholder="Please Enter Last Name">
        </div>
        <div class="form-group">
            <input type="text" name="phonenumber" value="<%= patient.phonenumber %>"" required class="form-control" placeholder="Please Phone Number">
        </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
            <input type="text" name="dateofbirth" value="<%= patient.dateofbirth %>" required class="form-control" placeholder="Enter Date of Birth">
        </div>
  <div class="form-group">
            <textarea rows="4" name="residentialaddress"  required class="form-control" placeholder="Please Enter Residential Address"><%= patient.residentialaddress %></textarea>
        </div>
      <div class="form-group">
            <input type="text" name="emergencycontactnumber" 
            value="<%= patient.emergencycontactnumber %>" required class="form-control" placeholder="Please Emergency Contact Number"/>
        </div>
  </div>
  <button type="submit" class="btn btn-priamry">Update Patient</button>
</form>
<%- include('footer'); -%>

